body {
    background-image: url("https://images.unsplash.com/photo-1517685352821-92cf88aee5a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2274&q=80");
}
.location-name {
    font-weight: bold;
    font-size: 50px;
    opacity: 75%;
}

.header-container {
    opacity: 80%;
}

.title {
    opacity: unset;
}

.custom-select:focus {
    box-shadow: 0 0 0 0.2rem;
}

#map {
 position: absolute;top: 0; bottom: 0; width: 100%;
}

.weather-image {
    transform: scale(0.5);
}

.slide-right {
    -webkit-animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
    animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}
