<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Home page</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{index.css}" rel="stylesheet" />
</head>
<body>
    <header class="jumbotron header-container">
        <h1 class="title">Met Office Weather</h1>
        <p class="lead">For all your weather needs. Enter a location id below and click enter to see the weather forecast for that location.</p>
    </header>
    <div layout:fragment="content" class="container body-content background-image">
        <div class="container-fluid">
            <div class="col-md-12" positioning>
                <form class="row justify-content-center" th:action="@{/weatherInfo}" method="POST">
                    <legend class="text-justify">Location name: </legend>
                    <div class="input-group">
                            <select  name="cityName" class="custom-select border border-secondary" id="inputGroupSelect04">
                                <option th:each="city : ${listOfCities}"
                                        th:value="${city.name}"
                                        th:text="${city.name}">
                                </option>
                            </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" xtype="submit"><svg id="i-search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" >
                                <circle cx="14" cy="14" r="12" />
                                <path d="M23 23 L30 30"  />
                            </svg></button>
                        </div>
                    </div>
<!--                    <input type="submit" value="Get Weather Info" />-->
                </form>
            </div>
        </div>
    </div>
</body>
</html>