<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Home page</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <div class="jumbotron">
        <h1>Met Office Weather</h1>
        <p class="lead">For all your weather needs. Enter a location id below and click enter to see the weather forecast for that location.</p>
    </div>
<!--    <div class="form-group blu-margin">-->
<!--        <select class="form-control"  id="dropOperator">-->
<!--            <option value="0">select a city</option>-->
<!--            <option th:each="city : ${listOfCities}" th:value="${city.name}" th:text="${city.name}"></option>-->
<!--        </select>-->
<!--    </div>-->
    <div class="row">   
        <div class="col-md-12">
            <form name="weatherInfo" action="#" th:action="@{/weatherInfo}" th:object="${listOfCities}" method="POST">
                <fieldset>
                    <legend>Location name: </legend>
                    <select>
                        <option th:each="city : ${listOfCities}"
                                th:value="${city.name}"
                                th:text="${city.name}"
                                name="cityName">
                        </option>
                    </select>
                    <input type="submit" value="Get Weather Info" />
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>