<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <!--@thymesVar id="weatherInfo" type="training.metofficeweather.web.WeatherInfo"-->

    <head>
        <title>Weather Information</title>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <h2>Weather Information</h2>
            <div>
                <p>The temperature <span th:text="${weatherInfo.weatherInformation.getTemperature()}"></span> <span th:text="${weatherInfo.weatherInformation.getWeatherType(weatherInfo.weatherInformation)}"></span></p>
            </div>
        </div>
    </body>
</html>